* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#map {
    width: 100vw;
    height: 100vh;
}
.feedback {
    width: 250px;
    padding: 10px 26px 10px 17px;
}
.feedback__input {
    padding: 11px;
    width: 100%;
    margin-bottom: 10px;
}
.feedback__btn {
    background: #FF8663;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 10px 15px;
}